.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(18, 20, 23, 0.1);
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}

.logoIcon {
  height: 14px;
  width: 90px;
}

.nav {
  display: flex;
  gap: 16px;
}

.navLink {
  font-weight: 500;
  font-size: 14px;
  transition: color 250ms ease;
  color: #121417;
  text-decoration: none;
}

.navLink:hover,
.navLink.active {
  color: #0b44cd;
}

.navLink.active {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    height: 68px;
  }

  .logoIcon {
    height: 16px;
    width: 104px;
  }

  .nav {
    gap: 32px;
  }

  .navLink {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }
}
