.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(18, 20, 23, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}

.logoIcon {
  height: 16px;
  width: 104px;
}

.nav {
  display: flex;
  gap: 32px;
}

.navLink {
  font-weight: 500;
  font-size: 16px;
  transition: color var(--transition);
  color: #121417;
  text-decoration: none;
}

.navLink:hover,
.navLink.active {
  color: var(--button-hover);
}

.navLink.active {
  font-weight: 600;
}
