.container {
  width: 100%;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  list-style: none;
  padding: 0;
}

.navigationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.loadMoreBtn {
  border: 1px solid var(--button);
  font-size: 16px;
  background-color: transparent;
  color: var(--main);
  display: block;
  margin: 0 auto;
  transition: border var(--transition);
}

.loadMoreBtn:hover {
  background-color: transparent;
  border: 1px solid var(--button-hover);
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
  }

  .navigationWrapper {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }

  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 24px;
  }
}
