.fovoriteIconThumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  background-color: var(--gray-light2);
  z-index: 9;
  border-radius: 0 14px 0 14px;
}

.favoriteBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  line-height: 0;
}

.favoriteBtn:hover {
  background: transparent;
}

.icon {
  width: 16px;
  height: 16px;
}

.item {
  flex: 1 1 calc(33.333% - 32px);
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.imgWrapper {
  overflow: hidden;
  width: 100%;
  height: 268px;
  border-radius: 14px;
  margin-bottom: 16px;
}

.image {
  width: 100%;
  height: 268px;
  object-fit: cover;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-weight: 500;
}

.modelBlue {
  color: var(--button);
}

.price {
  padding-right: 11px;
}

.firstInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--gray);
  margin-bottom: 4px;
}

.secondInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--gray);
  margin-bottom: 28px;
}

.city {
  padding-right: 6px;
  border-right: 1px solid var(--gray-light);
}

.country,
.rentalCompany {
  padding: 0 6px;
  border-right: 1px solid var(--gray-light);
}

.type {
  padding-right: 6px;
  border-right: 1px solid var(--gray-light);
}

.mileage {
  padding-left: 6px;
}

.learnMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  cursor: pointer;
  border: none;
  background: var(--button);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  transition: background var(--transition);
}

.learnMoreBtn:hover {
  background: var(--button-hover);
}
