.filterForm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  margin-bottom: 56px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--gray);
}

.dropdownWrapper {
  position: relative;
  width: 204px;
}

.dropdownHeader {
  background: var(--inputs);
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.iconArrow {
  width: 16px;
  height: 16px;
  fill: var(--main);
  transition: transform var(--transition);
  pointer-events: none;
}

.rotate {
  transform: rotate(180deg);
}

.dropdownList {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 272px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background: var(--white);
  border: 1px solid var(--inputs);
  border-radius: 12px;
  padding: 14px 8px 14px 18px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: all var(--transition);
}

.dropdownListPrice {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 188px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background: var(--white);
  border: 1px solid var(--inputs);
  border-radius: 12px;
  padding: 14px 8px 14px 18px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: all var(--transition);
}

.dropdownItem:first-child {
  padding-top: 0;
}

.dropdownItem:last-child {
  padding-bottom: 0;
}

.openList {
  opacity: 1;
  visibility: visible;
}

.dropdownItem {
  font-size: 16px;
  color: var(--gray);
  padding: 4px 0;
  cursor: pointer;
  transition: color var(--transition);
}

.dropdownItem:hover {
  color: var(--main);
}

.dropdownList::-webkit-scrollbar,
.dropdownListPrice::-webkit-scrollbar {
  width: 14px;
}

.dropdownList::-webkit-scrollbar-thumb,
.dropdownListPrice::-webkit-scrollbar-thumb {
  background: var(--gray-light);

  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

.mileageContainer {
  display: flex;
  align-items: center;
}

.inputWrapper {
  display: flex;
  align-items: center;
  background-color: #f7f7fb;
  height: 44px;
  padding: 0 18px;
  width: 160px;
}

.inputWrapper:first-child {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid var(--gray-light);
}

.inputWrapper:last-child {
  border-radius: 0 12px 12px 0;
}

.prefix {
  font-size: 16px;
  margin-right: 5px;
}

.mileageInput {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: var(--main);
  width: 100%;
}

.mileageInput::-webkit-outer-spin-button,
.mileageInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchBtn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}
