:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;

  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;

  --transition: 250ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--main);
  font-family: var(--font-family);
  line-height: 1.25;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background: var(--button);
  color: var(--white);
  border-radius: 12px;
  padding: 12px 51px;
  transition: background var(--transition);
}

button:hover {
  background: var(--button-hover);
}

ul,
li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition);
}
