.container {
  background-image: url("/background.webp");
  background-size: cover;
  background-position: center;
  height: calc(100dvh - 68px);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--white);
  margin-bottom: 40px;
}

.button {
  cursor: pointer;
  border: none;
  background: var(--button);
  color: var(--white);
  font-weight: 600;
  border-radius: 12px;
  padding: 12px 51px;
  transition: background 250ms ease-in-out;
  margin-bottom: 72px;
}

.button:hover {
  background: var(--button-hover);
}
