.catalog {
  padding: 84px 0 124px;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  text-align: center;
}

.notFound h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
