.catalog {
  padding: 64px 0 80px;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
}

.notFound h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .catalog {
    padding: 64px 0 100px;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .notFound {
    padding: 100px 20px;
  }

  .notFound h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .catalog {
    max-width: 1200px;
    padding: 84px 0 124px;
    padding-left: 0;
    padding-right: 0;
  }
}
