.container {
  width: 100%;
}

.mainInfo {
  margin-bottom: 40px;
}

.titleThumb {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.33333;
}

.carId {
  font-size: 14px;
  color: var(--gray);
}

.markerThumb {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  font-size: 14px;
}

.locationThumb {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.markerIcon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--button);
  margin-bottom: 24px;
}

.subtitle {
  font-size: 14px;
  line-height: 1.5;
  color: var(--main);
}

.moreInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.titleConditions {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}

.conditions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}

.tag {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }

  .moreInfo {
    gap: 60px;
  }

  .conditions {
    font-size: 16px;
  }

  .tag {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .mainInfo {
    margin-bottom: 68px;
  }

  .moreInfo {
    gap: 110px;
  }

  .titleConditions {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
  }
}
