.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 64px 16px 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.leftSide {
  display: contents;
}

.imageWrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 5 / 4;
  background-color: #f3f3f3;
  overflow: hidden;
  position: relative;
  border-radius: 19px;
  order: 1;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  object-fit: cover;
  display: block;
}

.detailInfoWrapper {
  order: 2;
}

.rentFormWrapper {
  order: 3;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 64px 32px 80px;
    gap: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    padding: 84px 0 104px;
    flex-direction: row;
    display: flex;
    gap: 72px;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    width: 640px;
    order: 1;
  }

  .imageWrapper {
    width: 640px;
    height: 512px;
    margin-bottom: 40px;
    order: unset;
  }

  .rentFormWrapper {
    order: unset;
    width: 100%;
  }

  .detailInfoWrapper {
    order: 2;
    flex: 1;
  }
}
