.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 84px 0 104px;
  display: flex;
  flex-direction: row;
  gap: 72px;
}

.imageWrapper {
  width: 640px;
  height: 512px;
  background-color: #f3f3f3;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  border-radius: 19px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  object-fit: cover;
  display: block;
}
